[Desktop Entry]
Type=Application
Version=1.0
Name=Terminal
Name[zh_CN]=终端
Comment=Command line
Icon=utilities-terminal
Exec=xfce4-terminal
Terminal=false
Categories=AyuchanFavorite;AyuchanDev;System;
OnlyShowIn=XFCE;
