[Desktop Entry]
Type=Application
Version=1.0
Name=Browser
Name[zh_CN]=浏览器
Comment=Web browser
Icon=firefox-esr
Exec=firefox-esr %u
Terminal=false
Categories=AyuchanFavorite;Network;WebBrowser;
OnlyShowIn=XFCE;
