set default=0
set timeout=15

LINUX_LIVE

menuentry "Install Ayuchan Linux (Calamares)" {
	linux KERNEL_LIVE APPEND_LIVE ayuchan-install=1
	initrd INITRD_LIVE
}

LINUX_INSTALL

submenu 'Advanced options...' {
LINUX_ADVANCED_INSTALL
MEMTEST
}
