[Desktop Entry]
Name=Ayuchan
Name[zh_CN]=Ayuchan 壁纸
Comment=Ayuchan Linux default wallpaper
Comment[zh_CN]=Ayuchan Linux 默认壁纸
X-KDE-PluginInfo-Name=Ayuchan
X-KDE-PluginInfo-Author=ayuchan
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Website=https://github.com/ayuchan/ayuchan-linux
