# Ayuchan Linux — Debian 文本安装器预置（中文环境）
d-i debian-installer/locale string zh_CN.UTF-8
d-i keyboard-configuration/xkb-keymap select cn
d-i time/zone string Asia/Shanghai
d-i clock-setup/utc boolean true
